<ion-header>
  <ion-toolbar>
    <ion-title>day1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label (click)="bench()">Bench Press</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Seated-barbell shoulders lift</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Deadlift</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lat pulldown</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alternativ curl</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Triceps pushdown</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Trapez</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
